
@{
    ViewBag.Title = "ApplicationError";
}

<div id="main">
    <div class="text-center">
        <h1>Oh No!</h1>
        <h2>There was an error processing your application. Make sure you have a <strong>resume</strong> uploaded to your profile and please try again!</h2>
        <i class="fas fa-exclamation-triangle"></i>
    </div>
</div>
