@{
    ViewBag.Title = "Home Page";
}

<div class="hero-v1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mr-auto text-center text-lg-left">
                <span class="d-block subheading"></span>
                <h1 class="heading mb-3">Coronavirus Vaccination Foundation</h1>
                <p class="mb-5">We run several COVID-19 vaccination sites accross the country, and we're constantly looking for people to vonunteer and work for us to try and get as many people as possible vaccinated every day! Check out some of our openings!</p>
                <p class="mb-4"><a href="/OpenPositions/Index" class="btn btn-primary" id="home-page-buton">View Openings</a></p>

            </div>
            <div class="col-lg-6">
                <figure class="illustration">
                    <img src="~/Content/images/illustration.png" alt="Image" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>

<!-- MAIN -->

<div class="site-section stats">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-7 text-center mx-auto">
                <h2 class="section-heading">Coronavirus Statistics</h2>
                <p>Data from the VACCOVID API</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="data">
                    <span class="icon text-primary">
                        <span class="flaticon-virus"></span>
                    </span>
                    <strong class="d-block number">
                        @foreach (var item in ViewBag.Data)
                        {
                        <span>@String.Format($"{item.TotalCases:n0}")</span>
                        }
                </strong>
                <span class="label">Total Cases</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="data">
                <span class="icon text-primary">
                    <span class="flaticon-virus"></span>
                </span>
                <strong class="d-block number">
                    @foreach (var item in ViewBag.Data)
                    {
                        <span>@String.Format($"{item.TotalDeaths:n0}")</span>
                    }
                </strong>
                <span class="label">Deaths</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="data">
                <span class="icon text-primary">
                    <span class="flaticon-virus"></span>
                </span>
                <strong class="d-block number">
                    @foreach (var item in ViewBag.Data)
                    {
                    <span>@String.Format($"{item.TotalRecovered:n0}")</span>
                    }
                </strong>
                <span class="label">Recovered Cases</span>
            </div>
        </div>
    </div>
</div>
</div>
