table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
    background-color: #6F42C1;
    height: 1.5em;
    width: 1.5em;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
    background-color: #d33333;
}
